%ul.side-nav
  %li{style: "border-bottom: 1px solid grey"}
    = image_tag("profile.png", class: "circle responsive-img")
    %center
      %b
        = @user.full_name?
  %li
    = link_to 'Account', edit_user_registration_path
  %li
    %a{:href => "#"} 
      About me
  %li
    %a{:href => "#"} 
      Education
  %li
    %a{:href => "#"} 
      Certifications
  %li
    %a{:href => "#"} 
      Experiences
  %li
    %a{:href => "#"} 
      Projects
  %li
    %a{:href => "#"} 
      Skill set
  %li
    %a{:href => "#"} 
      Address
  %li
    %a{:href => "#"} 
      Basic Information