.parallax-container
  .parallax
    = image_tag("main_banner.jpg")


.container
  .section
    .row
      .col.s12.m4
        .icon-block
          %h2.center.light-blue-text
            %i.material-icons flash_on
          %h5.center feature 1
          %p.light dummy content
      .col.s12.m4
        .icon-block
          %h2.center.light-blue-text
            %i.material-icons group
          %h5.center feature 1
          %p.light dummy content
      .col.s12.m4
        .icon-block
          %h2.center.light-blue-text
            %i.material-icons settings
          %h5.center feature 1
          %p.light dummy content
  %br
    %br
      .section

.parallax-container
  .parallax
    = image_tag("main_banner2.jpg")

.row.red
  .container
    .section
      .row
        .col.s12.m4
          .icon-block
            %h2.center.light-blue-text
              %i.material-icons flash_on
            %h5.center feature 1
            %p.light dummy content
        .col.s12.m4
          .icon-block
            %h2.center.light-blue-text
              %i.material-icons group
            %h5.center feature 1
            %p.light dummy content
        .col.s12.m4
          .icon-block
            %h2.center.light-blue-text
              %i.material-icons settings
            %h5.center feature 1
            %p.light dummy content
    %br
      %br
        .section