%footer.page-footer
  .container
    .row
      .col.l6.s12
        %h5.white-text Explore Your self
        %p.grey-text.text-lighten-4 Leave the traditional ways.
      .col.l4.offset-l2.s12
        %h5.white-text Quick Links
        %ul
          %li
            %a.grey-text.text-lighten-3{:href => "#"} Home
          %li
            %a.grey-text.text-lighten-3{:href => "#"} Features
          %li
            %a.grey-text.text-lighten-3{:href => "#"} Login
          %li
            %a.grey-text.text-lighten-3{:href => "#"} Register
  .footer-copyright
    .container
      © 2016 Copyright
      %a.grey-text.text-lighten-4.right{:href => "#"} More