%nav.light-blue.darken-4
  .nav-wrapper
    %a.brand-logo{:href => "#"} Logo
    %a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
      %i.material-icons menu
    %ul.right.hide-on-med-and-down
      %li
        %a.tooltipped{"data-delay" => "50", "data-position" => "bottom", "data-tooltip" => "Home", :href => "#"}
          %i.material-icons
            home
      %li
        %a.tooltipped{"data-delay" => "50", "data-position" => "bottom", "data-tooltip" => "Features", :href => "#"}
          %i.material-icons
            view_module
      %li
        - if user_signed_in?
          = link_to 'Logout', destroy_user_session_path, :method => :delete
        - else
          = link_to 'Log In', new_user_session_path
      %li
        - unless user_signed_in?
          = link_to 'Register', new_user_registration_path

    %ul#mobile-demo.side-nav
      %li
        %a.tooltipped{"data-delay" => "50", "data-position" => "right", "data-tooltip" => "Home", :href => "#"}
          %i.material-icons
            home
      %li
        %a.tooltipped{"data-delay" => "50", "data-position" => "right", "data-tooltip" => "Features", :href => "#"}
          %i.material-icons
            view_module
      %li
        %a{:href => "#"} Sign In
      %li
        %a{:href => "#"} Sign up